<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h1>Kategorie </h1>
<table>
    <tr th:each="category : ${categoryList}">
        <td><a th:href="@{'/category/' + ${category.idCategory}}" th:text="${category.name}"></a></td>
        <form action="#" th:action="@{'/updateCategory/' + ${category.idCategory}}">
        <td><input type="submit" value="Zmień nazwę" /></td>
        </form>
        <form action="#" th:action="@{'/delete/category/' + ${category.idCategory}}"  th:method="delete">
            <td><input type="submit" value="Usuń" /></td>
        </form>
    </tr>
</table>
<button onclick="window.location.href = '/addNewCategory';">Dodaj nową kategorię</button>
<p><a href="/" th:href="@{/}">Powrót do strony głównej</a></p>
</body>
</html>