<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy użytkownik</title>
</head>
<body>
<h1>Dodawanie nowego użytkownika</h1>

<form action="#" th:action="@{addNewUser}" th:object="${newUser}" th:method="post">
    <p>Imie: <input type="text" th:field="*{firstName}"/></p>
    <p>Nazwisko: <input type="text" th:field="*{lastName}"/></p>
    <p>Email: <input type="email" th:field="*{email}"/></p>
    <p>Telefon: <input type="text" th:field="*{telephone}"/></p>
    <p>PESEL: <input type="number" th:field="*{pesel}"/></p>
    <p>Płeć: <input type="text" th:field="*{sex}"/></p>
    <p>Data urodzenia:<input type="date" th:field="*{dateOfBirth}"/></p>
    <p>Adres:<input type="text" th:field="*{address}"/></p>
    <p><input type="submit" value="Dodaj"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>