<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja</title>
</head>
<body>
<table>
    <tr>
        <td>Id rezerwacji</td>
        <td th:text="${reservation.idReservation}"></td>
    </tr>
    <tr>
        <td>Początek wynajmu</td>
        <td th:text="${reservation.startRentDate}"></td>
    </tr>
    <tr>
        <td>Koniec wynajmu</td>
        <td th:text="${reservation.endRentDate}"></td>
    </tr>
    <tr>
        <td>Ilość maszyn</td>
        <td th:text="${reservation.quantity}"></td>
    </tr>
    <tr>
        <td>Użytkownik</td>
        <td th:text="${reservation.user}"></td>
    </tr>

</table>
</body>
</html>