<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmiana parametrów grupy maszyn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h1>Zmiana parametrów grupy maszyn</h1>

<form action=""  th:object="${updateGroupMachine}" th:method="put">
    <p>Nazwa grupy: <input type="text" th:field="*{name}"/></p>
    <p>Kod grupy: <input type="text" th:field="*{groupCode}"/></p>
    <p>Waga maszyny: <input type="number" th:field="*{weight}"/></p>
    <p>Cena za dobę: <input type="number" th:field="*{costPerDay}"/></p>
    <p><input type="submit" value="Zmień" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>