<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Ustawienia konta</title>
</head>
<body>
<h1>Ustawienia konta</h1>
<div>
    <table>
        <tr>
            <th>
                <button onclick="window.location.href = '/user/changePassword';">Zmiana hasła</button>

            </th>
        </tr>
        <tr>
            <th>
                <button onclick="window.location.href = '/user/changeMail';">Zmiana adresu email</button>

            </th>
        </tr>
        <tr>
            <th>
                <p><a href="/" th:href="@{/}">Powrót do strony głównej</a></p>
            </th>
        </tr>


    </table>
</div>

</body>
</html>